{% extends "base.html"%} {% block content%}

<div class="card" style="width: 22rem">
  <img
    src="https://www.nationalgeographic.com/content/dam/animals/thumbs/rights-exempt/mammals/d/domestic-dog_thumb.ngsversion.1546554600360.adapt.1900.1.jpg"
    class="card-img-top"
    alt="IMAGE"
  />
  <div class="card-body">
    <hr />
    <p class="caption">
      <a href="/posts/{{post.id}}">
        <span class="card-username"><h6>{{post.name}}</h6></span>
      </a>
      {{post.caption}}
      <i class="far fa-heart"></i>
      <i class="far fa-comment fa-flip-horizontal"></i>
      <i class="fas fa-share-alt"></i>
    </p>
  </div>
  <div class="card-action">
  <a class="btn btn-dark" href="{% url 'post_update' post.id %}" role="button">Edit</a>
  <a class="btn btn-outline-danger" href="{% url 'post_delete' post.id %}" role="button">Delete</a>
  </div>
</div>
  {% for photo in post.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
<form action="{% url 'add_photo' post.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn btn-dark" value="Upload Photo">
</form>

{% endblock%}
